#risk-select {
    text-align: center;
}

#mapid { 
    align-self: center;
    height: 500px; 
    width: 600px;
}

#SF-title{
    color: orange;
    font-family: initial ;
    text-align: center;
}

nav {
    padding-bottom: 32pt;
}

.navbar-brand {
    font-family: cursive;
}
